.layout img {
  margin: auto;
  max-width: 98%;
  display: block;
  height: auto;
}

.layout h1,
.layout h2 {
  text-align: center;
}

.layout ul {
  text-align: center;
  list-style: none;
  padding: 0;
}

.layout > div {
  text-align: center;
}

.layout a {
  color: #111111;
  text-decoration: underline;
}

div.layout > a {
  /*text-decoration: none;*/
}
